
ul {
  list-style: none;  
}

.site-nav .link {
color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #2196F3;
}

/* основной цвет текста #212121 */
/* логотип #2196F3-веб #000000-студия */
/* #2196F3 при фокусе и ховере, #212121 стандарт полож. */
/* #757575 номер в шапке */
/* #FFFFFF х1 */
/* #2196F3 фон кнопки, текст кнопки #FFFFFF  */
/* #2F303A фон */